<%- include("partials/header") -%>

<h1>Compose</h1>

<form class="" action="/compose" method="post">
  <div class="form-group">
    <label for="postTitle" class="form-label">Title</label>
    <input type="text" class="form-control" name="postTitle" autocomplete="off">

    <label for="postBody" class="form-label">Post</label>
    <textarea class="form-control" rows="5" cols="30" name="postBody"></textarea>
  </div>

  <button class="btn btn-primary mb-3" type="submit" name="button">Publish</button>

</form>
